<div class="form-container" *ngIf="employee">
    <h2>Edit Employee</h2>
    <form (ngSubmit)="onSubmit()">
      <input type="text" [(ngModel)]="employee.first_name" name="first_name" required />
      <input type="text" [(ngModel)]="employee.last_name" name="last_name" required />
      <input type="email" [(ngModel)]="employee.email" name="email" required />
      <input type="text" [(ngModel)]="employee.gender" name="gender" required />
      <input type="text" [(ngModel)]="employee.designation" name="designation" required />
      <input type="number" [(ngModel)]="employee.salary" name="salary" required />
      <input type="date" [(ngModel)]="employee.date_of_joining" name="date_of_joining" required />
      <input type="text" [(ngModel)]="employee.department" name="department" required />
      <input type="text" [(ngModel)]="employee.employee_photo" name="employee_photo" />
      <button type="submit">Update Employee</button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </div>
  